@import "tailwindcss";

:root {
  --background: #F3F3F3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kanit);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit), "Kanit", "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    height: 6px;                
  }

  .minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent !important;   
  }

  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background: #c8d0d8;        
    border-radius: 9999px;      
  }

  .minimal-scrollbar::-webkit-scrollbar-button {
    display: none !important;   
  }
}

